@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Nerko+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #231e39;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  font-family: 'Nerko One', cursive;
  font-size: xx-large;
  letter-spacing: 1.5px;
  text-align: center;
  margin: 20px auto;
}

button {
  width: 320px;
  height: 30px;
  margin: 0 auto;
}

form {
  box-sizing: border-box;
  padding-bottom: 18px;
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  align-items: center;
}

.row {
  padding: 10px 0 10px 0;
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.row input {
  text-align: center;
}

.totalskills {
  width: 90%;
  align-items: center;
  line-height: 28px;
  border: 2px solid transparent;
  border-bottom-color: #777;
  padding: .2rem 0;
  outline: none;
  background-color: transparent;
  color: #0d0c22;
  transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.sk {
  min-width: 15%;
  font-size: small;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.strarity {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.stline {
  display: flex;
  align-items: center;
}

.stline input {
  margin: 10px auto;
}

.stline select {
  margin-left: 10px;
}

.cardTrunfo {
  margin-left: 10px;
  min-width: 150px;
}

/* From uiverse.io by @alexruix */
input {
  width: 90%;
  align-items: center;
  line-height: 28px;
  border: 2px solid transparent;
  border-bottom-color: #777;
  padding: .2rem 0;
  outline: none;
  background-color: transparent;
  color: #0d0c22;
  transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin: 0 auto;
  margin-bottom: 20px;
 }
 
 input:focus, input:hover {
  outline: none;
  padding: .2rem 1rem;
  border-radius: 1rem;
  border-color: #7a9cc6;
 }
 
 input::placeholder {
  color: #777;
 }
 
 input:focus::placeholder {
  opacity: 0;
  transition: opacity .3s;
 }
 

textarea { 
  width: 90%;
  border: 2px solid transparent;
  border-bottom-color: #777;
  padding: .2rem 0;
  outline: none;
  background-color: transparent;
  color: #0d0c22;
  transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin: 0 auto;
  margin-bottom: 20px;
}

.container {
  background-color: white;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.185);
  width: 91%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 30px auto;
}

.true {
  width: 45%;
}

.button {
  text-align: center;
  line-height: 40px;
  width: 100%;
}

.criesuacarta {
  width: 45%;
}

.cardcontainer{  
  text-align: center;
  width: 262px;
  margin: 0 auto;
  background: #231e39;
  color: #b3b8cd;
  border-radius: 10px;
  box-shadow: 0 10px 20px -10px rgba(0,0,0,.75);
}

.cover-photo {
  background: url('../images/background.webp');
  height: 160px;
  max-width: 262px;
  border-radius: 5px 5px 0 0;
}

.cover-photo img {
  background-image: url('../images/generic.png');
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.profile {
  border-radius: 50%;
  margin-top: 93px;
  border: 1px solid #1f1a32;
  padding: 1px;
  background: #292343;
}


.profile-name {
  font-size: 25px;
  font-weight: bold;
  margin-top: 70px;
  margin-bottom: 20px;
  color: white;
}

.about {
  font-size: smaller;
  width: 80%;
  margin: 15px auto;
  line-height: 21px;
}

.attr {
  width: 75%;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 20px;
  word-spacing: 2px;
}

.points {
  margin-left: 30px;
  font-size: small;
  letter-spacing: 1.5px;
  padding-bottom: 4px;
}

.rarity {
  color: #000000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: smaller;
  letter-spacing: 2px;
}

.normal {
  background: white;
  border: 1px solid grey;
  padding: 6px;
  font-weight: 200;
}

.raro {
  background: silver;
  border: 1px solid grey;
  padding: 6px;
  font-weight: 700;
}

.muito {
  color: white;
  background: black;
  border: 1px solid gold;
  padding: 6px;
  font-weight: 900;
}

.st {
  background: gold;
  border: 1px solid yellow;
  padding: 6px;
  font-weight: 1000;
  font-size: medium;
}

/* CSS template by https://markodenic.com/tools/buttons-generator/ */
.css-button-sliding-to-left--grey {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #495057;
  color: #495057;
}
.css-button-sliding-to-left--grey:hover {
  color: #fff;
}
.css-button-sliding-to-left--grey:hover:after {
  width: 100%;
}
.css-button-sliding-to-left--grey:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #495057;
}
